
@font-face {
    font-family: 'American Typewriter';
    src: url('https://fonts.cdnfonts.com/css/american-typewriter');
}
* {font-family: 'American Typewriter', sans-serif;
background-color: white;}

body {
    margin-top: 120px;
    font-family: 'American Typewriter', sans-serif
}

li {
    list-style-type: none; 
  }
