<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/style.css">
    <title>Bayard Rustin Archive</title>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
 </script>

</head>


<body>
  {% include 'header.html' %}
  <div class="text-center">
    <h1 class="display-3">About Us</h1>
    <br/>
    Thank you for visiting this page. We are five students of COS333, a Princeton class whose semester-long project is to develop a real-world application. We found the Bayard Rustin Center for Social Justice, and decided to embark on a journey to help them build an everlasting archive for their namesake, Bayard Rustin, an advocate for gay and civil rights.
    <br/>
    <br/>
    <div style="display:flex;  align-items: center; align-self: center; width:100%;justify-content: space-around">
    <figure>
        <img src="https://drive.google.com/uc?export=view&id=1cl2X5EiVwwuFgHfBogAhT7ruTxtXaB04">
        <figcaption>
            <br/>
            <b>Alison Lee, COS AB '24</b>
        </figcaption>
    </figure>
    <figure>
        <img src="https://drive.google.com/uc?export=view&id=1iKjeqsdElUFP9WFuaU03pX4ATERVpHRK">
        <figcaption>
            <br/>
            <b>Ben Reinkemeyer, COS AB '23</b>
        </figcaption>
    </figure>
    <figure>
        <img src="https://drive.google.com/uc?export=view&id=1kdm1uf-UHLegREUaE13Xi-vF8zoxKEAZ">
        <figcaption>
            <br/>
            <b>Kathy Li, COS BSE '24</b>
        </figcaption>
    </figure>
    <figure>
        <img src="https://drive.google.com/uc?export=view&id=1xd1HVgHJ38KdkAQjYNZOx8BJrgfIh4Fo">
        <figcaption>
            <br/>
            <b>Samantha Chin, COS BSE '23</b>
        </figcaption>
    </figure>
    <figure>
        <img src="https://drive.google.com/uc?export=view&id=1YDPclcatQWgJtP0HMDjQiUrK7PPi2NsG">
        <figcaption>
            <br/>
            <b>Sean Wang, COS BSE '24</b>
        </figcaption>
    </figure>
    </div>
    

  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% include 'footer.html' %}
  </body>
</html>