<!DOCTYPE html>
 <html>
   <style> 
      gallerydiv {
         min-height: 100%;
         resize: both;
      }
      pagecontainer {
         padding: 10%;
      }
   </style>
   <head>
      <title>Bayard Rustin</title>
       <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>
      <hr>
      <h1>Bayard Rustin Archive</h1>
      <hr/>
      <h3>Upload your media file</h3>
      <div class="container">
         <div class="input-group">
            <div class="custom-file">
               <input type="file" class="custom-file-input" id="customFileInput" aria-describedby="customFileInput">
               <label class="custom-file-label" for="customFileInput">Select file</label>
            </div>
            <div class="input-group-append">
               <form action="/" method="post">
                  <button class="btn btn-primary" type="button" id="customFileInput">Upload</button>
               </form>
            </div>
         </div>
      </div>

      <script>
         document.querySelector('.custom-file-input').addEventListener('change', function (e) {
         var name = document.getElementById("customFileInput").files[0].name;
         var nextSibling = e.target.nextElementSibling
         nextSibling.innerText = name
         })
      </script>

      <hr>
      <h2>Bayard Rustin Gallery</h2>
      <!-- Gallery -->
      <gallerydiv class="row">
         <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
         <img
            src="https://cdn.britannica.com/85/183385-050-76B78FBE/Bayard-Rustin-1963.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
         />
      
         <img
            src="https://media.npr.org/assets/img/2013/08/15/ap6405181410_wide-85420f55d1aa3a4634d615ff82a35314d5cfe7fb.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape"
         />
         </div>
      
         <div class="col-lg-4 mb-4 mb-lg-0">
         <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAR4AAACwCAMAAADudvHOAAAAPFBMVEX/7QDkAwP/jAAAgCYATf91B4ffLAr0XwH/jwD/igD/ogD/8QD06QEAggA+NdF4AIGRSKAAWdcAT/8FgySlN9IBAAABNklEQVR4nO3QQSICAABFwS+VIlLuf1c7O+8EM0eYnQl7IehJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKetDfCLoQdCHqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXrSroS9E/ZBGAAAAAAAAAD8uRH2Q9grQU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/ZJ2IOwI0FP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP25H/HfRF2J+xE0JP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0pH0TfgHr2YbrKqceUgAAAABJRU5ErkJggg=="
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"
         />
      
         <img
            src="https://teamdivarealestate.com/wp-content/uploads/2020/06/Bayard-Rustin-Quote-BLM.png"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
         />
         </div>
      
         <div class="col-lg-4 mb-4 mb-lg-0">
         <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"
         />
      
         <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park"
         />
         </div>
      </gallerydiv>
      
 <!-- Gallery -->
      <!-- <table>
      <thead><tr><th>Name</th><th>Description</th></tr></thead>
      <tbody>
      <tr><td>Name1</td><td>Description1</td></tr>
      <tr><td>Name2</td><td>Description2</td></tr>
      <tr><td>Name3</td><td>Description3</td></tr>
      </tbody>
      </table> -->
   
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
 </html>
